<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="openfoodfacts.github.scrachx.openfood"
>
    <!-- Allows changing locales for screenshots generation-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
</manifest>
