<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="openfoodfacts.github.scrachx.openfood"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".views.OFFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".views.ScannerFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ProductActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName=".views.MainActivity"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.SaveProductOfflineActivity"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.FullScreenImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.HistoryScanActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.UserRatingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.DummyTestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>