<?xml version="1.0" encoding="utf-8"?>
<manifest package="openfoodfacts.github.scrachx.openfood"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize"/>
        <activity
            android:name=".views.ScannerFragmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.ProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>
        <activity
            android:name=".views.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>
        <activity
            android:name=".views.SaveProductOfflineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.HistoryScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>


        <meta-data
            android:name="DATABASE"
            android:value="offacts.db"/>
        <meta-data
            android:name="VERSION"
            android:value="10"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="openfoodfacts.github.scrachx.openfood.models"/>

    </application>

</manifest>
